apiVersion: v1
kind: ConfigMap
metadata:
  name: app-configmap
  namespace: desafio3

data:
  DB_PORT: "${db_port}"

  DB_AUTH_NAME: "authdb"
  DB_FLAG_NAME: "flagdb"
  DB_TARGET_NAME: "targetingdb"

  DB_AUTH_HOST: "${db_auth_host}"
  DB_FLAG_HOST: "${db_flag_host}"
  DB_TARGET_HOST: "${db_target_host}"

  REDIS_HOST: "${redis_host}"
  REDIS_PORT: "${redis_port}"

  AUTH_SERVICE_URL: "http://auth-service-svc.desafio3.svc.cluster.local:8080"
  FLAG_SERVICE_URL: "http://flag-service-svc.desafio3.svc.cluster.local:8080"
  TARGETING_SERVICE_URL: "http://targeting-service-svc.desafio3.svc.cluster.local:8080"

  AWS_SQS_URL: "${sqs_url}"

  PORT: "8080"
  APP_PORT: "8080"

  AWS_REGION: "${aws_region}"